
<div class="form-block-bg">
        <div class="outer-bg">
          <div class="inner-bg">
            <div class="container">
              <div class="form-block">
                <form ng-submit="Autenticar()" method="post">
                  <ul>
                    
                    <li class="email">
                      <input ng-model="formulario.email" required name="email" type="text" class="input" onFocus="this.placeholder=''" onBlur="this.placeholder='Email Address'" placeholder="Email" />
                    </li>
                    <li class="password">
                      <input ng-model="formulario.senha" required name="password" type="password" class="input" onFocus="this.placeholder=''" onBlur="this.placeholder='Password'" placeholder="Senha" />
                    </li>
                  </ul>
                  <div class="btn-out">
                    <button class="btn btn-primary">Logar</button>
                  </div>
                  <p>  <a href="#">Esqueceu senha?</a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>