
    <nav class="navbar navbar-expand-md navbar navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#"><img src="src/img/logo.png" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
              <div class="collapse navbar-collapse" id="navbarNav">
               
                <ul class="navbar-nav" ng-controller="PrincipalController">
                  <li class="nav-item active">
                    <a style="cursor: pointer;" class="nav-link"  ng-click="IrParaFolhaProdutividade()">Folha da produtividade <span class="sr-only">(current)</span></a>
                  </li> 
                  <li class="nav-item active">
                    <a style="cursor: pointer;" class="nav-link"   ng-click="Sair()">Sair</span></a>
                  </li>                         
                </ul>

                 

              </div>
      </nav>  