/*
    Bootstrap 4 Login Form Template by FreeMarkup.com
    freemarkup.com | @freemarkup
    Free for personal and commercial use under the CCA 4.0 International license (freemarkup.com/license)
*/
body { font-family:'Open Sans', sans-serif; font-weight:400; font-size: 15px; color:#666666; line-height:24px; letter-spacing:0.01em;}

.form-block-bg { width:100%; height:100%; float:left; text-align:center; background: url(../img/bg.jpg) no-repeat center center; background-size:cover; overflow:auto; overflow-x:hidden; position:fixed; top:0; left:0;}
.form-block-bg .container { width:100%; max-width:1200px; margin:0 auto; padding:0 30px;}
.form-block-bg .outer-bg { width:100%; height:100%; float:none; display:table; margin:0 auto;}
.form-block-bg .inner-bg { width:100%; height:100%; float:none; display:table-cell; vertical-align:middle; padding:30px 0;}

@media only screen and (max-width: 767px) {
.form-block-bg .container { max-width:540px; padding:0 20px;}
}

.form-block { width:100%; max-width:340px; float:none; display:inline-block; vertical-align:top; background:#ffffff; border-radius:0	; position:relative; z-index:100; padding:35px; margin:0;}
.form-block .input { width:100%; height:50px; float:left; font-family:'Open Sans', sans-serif; font-size:16px; color:#000000; line-height:24px; letter-spacing:0.04em; text-transform:none; background:none; border:none; border-bottom:1px solid #514d4e; border-radius:0; outline:none; position:relative; box-shadow:none; padding:15px 10px; margin:0;}
.form-block :placeholder { color:#989898;}
.form-block ::-webkit-input-placeholder { color:#989898;}
.form-block input::-moz-placeholder { color:#989898;}
.form-block ::-moz-placeholder { color:#989898;}
.form-block :-ms-input-placeholder { color:#989898;}
.form-block .btn { width:100%; height:45px; float:none; display:inline-block; font-weight:normal; font-family:'Open Sans', sans-serif; font-weight: 600; font-size:16px; color:#ffffff; line-height:45px; letter-spacing:0.02em; text-align:left; text-decoration:none; text-transform:uppercase; white-space:normal; vertical-align:middle; background:#e14435; border:none; filter:0; border-radius:2px; position:relative; cursor:pointer; padding:0 15px; margin:0;}
.form-block .btn:before { content:"\f054"; width:auto; float:right; font-family:"Font Awesome\ 5 Free"; font-size:13px; color:#ffffff; -webkit-transition:all .4s ease; -moz-transition:all .4s ease; -o-transition:all .4s ease; transition:all .4s ease; position:absolute; top:1px; right:12px;}
.form-block .btn:hover, .form-block .btn:focus, .form-block .btn:active, .form-block .btn:active:focus, .form-block .btn.active:focus { color:#ffffff; text-decoration:none; background:#fe4f3f; box-shadow:none;}
.form-block .btn.disabled, .form-block .btn[disabled], .form-block fieldset[disabled] .btn { cursor:not-allowed; filter:alpha(opacity=65); -webkit-box-shadow:none; box-shadow:none; opacity:.65;}
.form-block a.btn.disabled, .form-block fieldset[disabled] a.btn { pointer-events:none;}
.form-block ul { width:100%; float:left; list-style:none; padding:0 0 20px 0; margin:0;}
.form-block ul li { width:100%; float:left; position:relative; padding:0; margin:0 0 10px 0;}
.form-block ul li:last-child { margin-bottom:0;}
.form-block ul li .input { padding-left:35px;}
.form-block ul li.user:before { content:"\f007"; width:auto; float:right; font-family:"Font Awesome\ 5 Free"; font-weight:900; font-size:20px; color:#514d4e; line-height:20px; position:absolute; top:50%; left:0; margin:-9px 0 0 0;}
.form-block ul li.email:before { content:"\f1fa"; width:auto; float:right; font-family:"Font Awesome\ 5 Free"; font-weight:900; font-size:20px; color:#514d4e; line-height:20px; position:absolute; top:50%; left:0; margin:-9px 0 0 0;}
.form-block ul li.password:before { content:"\f023"; width:auto; float:right; font-family:"Font Awesome\ 5 Free"; font-weight:900; font-size:20px; color:#514d4e; line-height:20px; position:absolute; top:50%; left:0; margin:-9px 0 0 0;}
.form-block .btn { width:100%; float:left;}
.form-block .btn-out { width:100%; float:left;}
.form-block p { width:100%; float:left; font-size:13px; color:#b2b2b0; line-height:16px; padding:0; margin:20px 0 0 0;}
.form-block p a { float:left; color:#333333; outline:0; cursor:pointer; text-decoration:underline;}
.form-block p a:nth-child(2) { float:right;}
.form-block p a:hover { color:#f53f34; text-decoration:underline; outline:0; cursor:pointer;}
