
body{

}
.container{
    max-width: 100%;
}

.container-first{
    margin-top: 80px;
}

.btn-outline-secondary {
    background: #343A40;
}

.gj-datepicker-bootstrap button:hover {
    background: #343A40 !important;
}

.btn-outline-secondary > i { 
      color:white;
}

.backModalLoading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 2000;
}

.loading {
    background-image: url("../img/loader-gears.gif");
    background-repeat: no-repeat;
    background-position: center center;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -90px;
    margin-top: -90px;
    z-index: 2001;
}