<menu-horizontal-directive></menu-horizontal-directive>
<h1 class="text-center">Folha da Produtividade</h1> 

<form ng-submit="Salvar()">
      <div class="alert alert-dark " role="alert">
        <div class="row">
              <div class="col-lg-4 text-left text-dark col-sm-12">
                  PRODUTIVIDADE <b>A</b>
              </div>
              <div class="col-lg-6 col-sm-12"></div>
              <div class="col-lg-2 col-sm-12">
                 
                <input ng-change="PorDia()" ng-model="folhaProdutividade.data" ui-date-mask="DD/MM/YYYY"  id='data' name="data"  type="text" class="form-control">
              </div> 
        </div>
      </div>

    <div class="row">

        <div class="col-lg-6 col-xs-12">              
            <!--FOCO DO DIA-->
            <div class="form-group">
              <label for="txtFocoDia">Foco do Dia</label>
              <input minlength="5" id='focododia' name="focododia" ng-model="folhaProdutividade.focododia"  type="text" class="form-control" id="txtFocoDia">                 
            </div>

            <!--PRIORIDADE-->
            <div class="form-group">
                <label>5 Prioridades</label>
               <div ng-repeat="prioridade in folhaProdutividade.prioridades">
                    <input type="hidden" ng-model="prioridade.prioridade"> 
                    <input  minlength="5"  type="text" class="form-control" ng-model="prioridade.descricao" > 
               </div>
                               
            </div>

            <!--EVITAR NO DIA-->
            <div class="form-group">
                <label>Para evitar no dia:</label>
                <div ng-repeat="evitarnodia in folhaProdutividade.evitarnodia">
                        <input type="hidden" ng-model="evitarnodia.prioridade"> 
                        <input minlength="5"  type="text" class="form-control" ng-model="evitarnodia.descricao" > 
                </div>

                
                              
            </div>


        </div>

        <div class="col-lg-6 col-xs-12">
          <!--FOCO DO DIA-->
          <div class="form-group">
              <label for="txtComoFoiSeuDia">Como foi seu dia:</label>
              <input ng-model="folhaProdutividade.comofoiseudia"   type="number" class="form-control" id="comofoiseudia">                 
            </div>

            <!--O QUE EU APRENDI HOJE -->
            <div class="form-group">
              <label for="txtOqueeuAprendi">O que eu aprendi hoje:</label>
              <textarea  minlength="5" ng-model="folhaProdutividade.oqueaprendihoje"   class="form-control" id="txtOqueeuAprendi" rows="7"></textarea>      
            </div>
          
            <!--HOJE SOU GRATO POR-->
            <div class="form-group">
                <label>Hoje sou grato por:</label>
                <div ng-repeat="gratidoes in folhaProdutividade.gratidoes">
                        <input type="hidden" ng-model="gratidoes.prioridade"> 
                        <input minlength="5"  type="text" class="form-control" ng-model="gratidoes.descricao" > 
                </div>                              
            </div>
        </div>

        
        <div class="col-lg-11 col-sm-12 col-xs-12"></div>
        <div class="col-lg-1 col-xs-12 col-md-12 ">
                <button  class="btn btn-dark float-right">Salvar</button>
        </div>            
       
    </div>

</form>


<script>

    //https://gijgo.com/datepicker/configuration/format

        $('#data').datepicker({
            locale: 'pt-br',
            uiLibrary: 'bootstrap4',
            format: 'dd/mm/yyyy'          
          
        });
    </script>